# Dependencias (NUNCA ENVIAR ISSO)
node_modules/
admin/node_modules/

# Builds e Distribuicao
dist/
build/
admin/dist/
.sanity/

# Variaveis de ambiente (Seguranca)
.env
.env.local

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor
.vscode/
.idea/
*.DS_Store
Thumbs.db
